* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.b {
  border:2px solid yellow;
}
body {
  background-color: #18191a;
  font-family: sans-serif;
}



.profile-container{
  position: relative;
  top: 60px;
  width: 60%;
  margin:  0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.cover-pic {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  box-shadow: 5px -10px 15px 5px #121212 , -5px -10px 20px 5px #121212 ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover-pic img {
  width: 100%;
  height: auto;
}
.edit form{
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: #333;
  opacity: 0.7;
  font-family:sans-serif;
  font-size: 15px;
  padding: 0.7%;
  z-index: 3;
}
.edit form input {
  display: none;
}
.edit form span {
  font-size: 18px;
  margin-right: 5px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 30vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 15px 10px 0px #121212;
  background-color: #18191a;
}
.profile-picture img {
  height: 100%;
  object-fit: cover;
}
.profile-picture form{
  bottom: 10px;
  right: 50px;
  padding: 0.7% 2%;

}

.name-and-bio {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: #e4e6eb;
  padding-top: 10%;
}
#addbio {
  margin-top: -5px;
  color: #2e89ff;
  text-decoration:none;
}
.name-and-bio form {
  width: 80%;
  margin-top: 20px;
  display: none;
}
.name-and-bio form textarea {
  width: 100%;
  padding: 3%;
  border: none;
  border-radius: 10px;
  background-color: #3a3b3c;
}
.name-and-bio a,button {
  float: right;
  margin: 10px;
}
.name-and-bio form a {
  color: #e4e6eb;
  font-size: 14px;
  background-color: #3a3b3c;
  padding: 2% 3%;
  border-radius: 5px;
}
.name-and-bio form button {
  padding: 2% 3%;
  border-radius: 5px;
  border: none;
  background-color: #2e89ff;
  color: white;
}
.name-and-bio p {
  margin:15px 0;
  color: #8a8d91;
}


.timeline {
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.timeline h4 {
  color: #e4e6eb;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.post {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #242526;
}
.post-maker {
  width: 100%;
  display: grid;
  grid-template-columns: 12% 88%;
  height: 50px;
}
.post-maker .profile-pic {
  margin: auto;
}
.post-maker h1 {
  margin: auto 0;
  font-family: sans-serif;
  font-size: 17px;
  color: #e4e6eb;
}
.post p {
  width: 100%;
  padding: 15px 2.5%;
  color: #e4e6eb;
  font-size: 15px;
  font-family: sans-serif;
  letter-spacing: 0.5px;
}
.post-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.post-img img{
  width: 100%;
  margin-bottom: 15px;
}
.post-video {
  width: 100%;
  display: flex;
  justify-content: center;
}
.post-video video{
  width: 100%;
  margin-bottom: 15px;
}
.likes-comments::after {
  display: block;
  content: "";
  width: 100%;
  height: 1.5px;
  background-color: #3a3b3c;
}
.likes-comments {
  width: 95%;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.like {
  flex: 0 0 15%;
  color: white;
  opacity: 0.5;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}
.like i {
  margin-right: 5px;
}
.comment {
  flex: 0 0 85%;
  padding-left: 7%;
}
.comment form {
  display: flex;
}
.comment input {
  width: 85%;
  border: none;
  border-radius: 20px;
  padding: 2%;
  background-color: #3a3b3c;
}
.comment button {
  color: white;
  margin-left: 10px;
  background-color: #2e89ff;
  border: none;
  padding: 2% 3%;
  border-radius: 5px;
}
.post span {
  display: block;
  color: white;
  font-family: sans-serif;
  margin-bottom: 20px;
  opacity: 0.7;
  padding-left: 3%;
}
.recent-comments {
  padding-left: 3%;
  font-family: sans-serif;
  color: white;
  max-height: 160px;
  overflow-y: auto;
}
.recent-comments h4 {
  opacity: 0.5;
  font-weight: lighter;
  letter-spacing: 1px;
}
.recent-comments p {
  padding-left: 0%;
  margin-top: -25px;
  margin-bottom: 15px;
}
.recent-comments::-webkit-scrollbar {
  width: 7px;
}
.recent-comments::-webkit-scrollbar-thumb {
  background-color: #18191a;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}
