* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.b {
  border:2px solid yellow;
}


/* Making Header */

header {
  width: 100%;
  height: 85px;
  background-color: #3b5998;
  display: grid;
  grid-template-columns: 30% 55% 15%;
}
.logoname  {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3%;
  padding-top: 3%;
}
.logoname h1 {
  color: white;
  font-size: 40px;
  font-family:sans-serif;
}
.login-form form{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 45% 22% 22% 11%;
}
.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-family:sans-serif;
}
.form span {
  color: white;
  font-size: 12px;
  margin-bottom: 5px;
}
.form input {
  padding: 1%;
}
.login-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.login-button button {
  padding: 5% 7%;
  margin-top: 15px;
  background-color: #4267b2;
  border: 1.5px solid #29487d;
  color: white;
  font-size: 12px;
}

/* Done Header */


.section1 {
  height: 85vh;
  background-color: #e9ebee;
  display: grid;
  grid-template-columns: 50% 50%;
}
.registration-form {
  padding-left: 5%;
  padding-top: 3%;
  font-family: sans-serif;
}
.registration-form h1 {
  font-size: 35px;
  color: #333333;
  margin-bottom: 10px;
}
.registration-form p {
  font-size: 18px;
  letter-spacing: 1px;
  color: #919294;
  margin-bottom: 25px;
}
.registration-form  input {
  width: 30%;
  padding: 1.5%;
  margin-right: 15px;
  border: none;
  border-radius: 5px;
}
.r-form1 {
  margin-bottom: 15px;
}
.r-form2 {
  display: flex;
  flex-direction: column;
}
.registration-form .r-form2 input {
  width: 62.5%;
  margin-bottom: 15px;
}
.registration-form .r-form2 p {
  width: 40%;
  font-size: 12px;
  text-align: justify;
  color: #868686;
  margin: 15px 0;
}
.registration-form .r-form2 button {
  width: 25%;
  padding: 1.5% 0;
  margin-top: 15px;
  background-color: #598c45;
  border: 1.5px solid #3b6e22;
  border-radius: 5px;
  font-size: 20px;
  color: white;
}
